<%= form_with(model: [ @post, comment ], method: :post, url: post_comments_path(@post)) do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :content, placeholder: "Say something ...", required: true %>
  </div>

  <div>
    <%= form.submit "Add comment" %>
  </div>
<% end %>
