<turbo-frame
  id="<%= comment.new_record? ? 'comment_form' :  dom_id(comment) %>"
>
  <div class="border-2 border-orange-200 rounded-lg p-4 mb-2">
    <%= form_with(model: [ @post, comment ], local: true) do |form| %>
      <% if comment.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(comment.errors.count, "error") %>
            prohibited this post from being saved:</h2>

          <ul>
            <% comment.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="flex gap-4">
        <%= form.text_field :content,
                        autofocus: true,
                        placeholder: "Say something ...",
                        required: true,
                        class: "border-2 border-gray-200 rounded-lg" %>

        <%= form.submit "Comment",
                    class:
                      "text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
        <% unless comment.new_record? %>
          <%= button_to "Cancel",
          post_comment_path(@post, comment),
          method: :get,
          class:
            "text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
        <% end %>
      </div>
    <% end %>
  </div>
</turbo-frame>
