<% content_for :title, "Profile" %>

<div>
  <p>
    <%= render "users/user", user: @user %>
    <% if current_user == @user %>
      <div class="flex items-center gap-2">
        <%= link_to "Edit your profile",
        edit_user_registration_path,
        class:
          "text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
      </div>
    <% end %>
  </p>

  <div class="mt-4 flex items-center gap-4">
    <%= link_to "Followings #{@user.followees.count}",
    followees_user_path(@user),
    class: " font-medium hover:underline hover:text-blue-700" %>
    <%= link_to "Followers #{@user.followers.count}",
    followers_user_path(@user),
    class: " font-medium hover:underline hover:text-blue-700" %>
    <%= link_to "Posts #{@user.posts.count}",
    posts_user_path(@user),
    class: " font-medium hover:underline hover:text-blue-700" %>
  </div>
</div>
